@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;500;600;700&display=swap');


body {
  background: linear-gradient(to bottom, rgb(25, 23, 29), rgb(25, 23, 29));
  font-family:
    'Rajdhani',
    ui-monospace,
    Menlo,
    Monaco,
    'Cascadia Mono',
    'Segoe UI Mono',
    'Roboto Mono',
    'Oxygen Mono',
    'Ubuntu Monospace',
    'Source Code Pro',
    'Fira Mono',
    'Droid Sans Mono',
    'Courier New',
    monospace;
  position: relative;
  color: rgb(237, 239, 255);
  overflow: hidden;
}

h1 {
  font-size: 7vh;
  font-weight: bolder;
  text-align: center;
}

.main {
  height: 98svh;
  display: flex;

}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.gap-10 {
  gap: 10px;
}

.marker {
  border: 1px solid red;
}

.input-styles {
  background-color: transparent;
  outline: 0;
  width: 30vw;
  height: 100px;
  padding: 0px 30px;
  border: 2px solid rgba(197, 197, 197, 0.178);
  border-radius: 100px;
  font-size: 2.5em;
  text-align: center;
  transition: all 0.5s ease;
  color: rgb(236, 214, 255);

}

.input-styles:focus {
  border: 2px solid rgb(207, 149, 255);
  box-shadow: 0 0 20vw rgba(207, 149, 255, 0.5);
}

.font-s {
  font-size: 14px;
}

.light {
  font-weight: 300;
}

.medium {
  font-weight: 500;
}

.effect-1 {
  height: 20vw;
  width: 20vw;
  position: absolute;
  left: 00;
  bottom: 00;
  border-radius: 50%;
  transform: translate(-100%, 50%);
  filter: blur(400px);
  background: rgb(207, 149, 255);
  animation: colorChange 5s linear infinite;
}

@keyframes blurChange {

  0%,
  100% {
    filter: blur(400px);
  }

  50% {
    filter: blur(600px);
  }
}

@keyframes colorChange {

  0%,
  100% {
    background: rgb(139, 113, 255);
  }

  25% {
    background: rgb(255, 149, 232);
  }

  50% {
    background: rgb(207, 149, 255);
  }

  75% {
    background: rgb(255, 92, 160);
  }
}

.effect-2 {
  height: 10vw;
  width: 10vw;
  position: absolute;
  right: 00;
  top: 00;
  border-radius: 50%;
  transform: translate(50%, 50%);
  filter: blur(300px);

  background: rgb(177, 149, 255);
}